[submodule "themes/digitalgarden"]
	path = themes/digitalgarden
	url = https://github.com/apvarun/digital-garden-hugo-theme.git
[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
